body{
	color: white;
}

.switch {
	color: rgba(0,0,0, 0.5);
	border: none;
	font-size: 40px;
	margin: 0px;
	background-color: rgba(0, 0, 0, 0);
}

.switch:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.left {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 100px;
	display: none;
}

.right {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 100px;
}

.pages{
	position: absolute;
	left: 200px;
	right: 200px;
	top: 200px;
	bottom: 0;
	overflow: auto;
}

.page {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	background-color: white;
}

.pages #apps {
	display: none;
}

.page ul {
	padding: 0;
	margin: 0;
	list-style:none;
	margin-left: 0;
}

.page ul li {
	margin: 10px 10px 10px 10px;
	list-style: none;
	display: block;
	height: 150px;
	width: 250px;
	float: left;
	text-align: center;
	background-color: rgba(0, 0, 255, 0.5);
	border-radius: 5px;
}

.page ul li:hover {
	cursor: hand;
}

#apps ul li {
	background-color: rgba(0, 255, 0, 0.2);
	color: black;
	width: 150px;
}